target/
!.mvn/wrapper/maven-wrapper.jar
.mtj.tmp/
*.class
*.exe
*.dll
*.so
*.dylib
*.log
*.sql
.idea/
*.iml
.classpath
.project
.settings/
bin/
application.yml
application-dev.yml
application-prod.yml
.DS_Store
